* {
padding: 0;
margin: 0;
box-sizing: border-box;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(184, 93, 19, 0.575) 0%, rgb(255, 153, 0) 100%);
}

.metContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 5px solid #E9C46A;
    width: 20%;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    transform: translateY(100%);
    background-color: #2A9D8F;
}

.tempoMarker {
    padding: 0 0.75rem;
}

.square {
    padding: 0.75rem;
    background-color: #E9C46A;
    color: #E76F51;
}

.square:hover{
    box-shadow: 0px 2px 10px 3px;
}

#playBtn{
    padding: 0.75rem;
    border-radius: 100%;
    background-color: #E9C46A;
    color: #E76F51;
}

#playBtn:hover{
    box-shadow: 0px 2px 10px 3px;
}

/* .fa-stop{
    padding: 0.75rem;
    border-radius: 100%;
    background-color: #E9C46A;
    color: #E76F51;
}

.fa-stop:hover{
    box-shadow: 0px 2px 10px 3px;
} */

.tempoMarker {
    color: #E5E5E5;
    font-size: 2.5rem;
    position: relative;
    top: 15%;
}